/* frontend/src/index.css */
:root {
  background-color: #1a1a1a;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Para evitar scroll bars indeseadas en la intro */
}